<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service_mb_xmlSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.lemonway.fr/mb/dat/dev/directkitxml/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service_mb_xmlSoap"
                contract="LemonWayAPI.Service_mb_xmlSoap" name="Service_mb_xmlSoap" />
        </client>
    </system.serviceModel>
</configuration>